@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Open+Sans:wght@400;600&family=Oswald:wght@400;500&family=Outfit:wght@400;600&family=Poppins:wght@400;600&family=Roboto:wght@400;500;700&display=swap');

/* base params for all el-s */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', Arial;
    box-sizing: border-box;
}

:root {
	--padding-vert: 6.25vh;
}

ul {
    list-style: none;
}

img {
    pointer-events: none;
    max-width: 100%;
}

/* body bg color */
body {
    background-color: #E8E8E8;
}

/* Header styles */
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: rgba(0, 0, 0, 0.2);
    animation: animate 25s linear infinite;
    bottom: -5vh;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 998px) {
	.header__bar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5px;
	}
	.footer {
		padding: 25px 0 !important;
	}
}

@media only screen and (max-width: 860px) {
	.responsive-nav {
		display: block !important;
	}
	.header__bar {
		display: none !important;
	}
	.about-us__details .__details-container {
		border-radius: 25px !important;
	}
	.about-header {
		display: flex;
		justify-content: center;
	}
	.about-header span::after {
		left: 50% !important;
		transform: translateX(-50%);
	}
	.nav-quality-container {
		display: flex !important;
		flex-direction: column-reverse;
		gap: 15px;
		padding-top: 15px;
	}
	.nav-quality-container .nav {
		display: none !important;
	}
	.about-us__container {
		display: flex !important;
		flex-direction: column-reverse;
	}
}
@media only screen and (max-width: 780px) {
	.calculator {
		overflow: initial !important;
	}
	.calculator-wrap {
		margin: 10px 0 calc(18px + 4 * (100vw - 320px) / 880) 0;
		border-radius: 12px !important;
	}
	.calc-description {
		font-size: calc(16px + 4 * (100vw - 320px) / 880);
		padding-bottom: calc(18px + 4 * (100vw - 320px) / 880);
	}
	.calc-link {
		position: absolute;
		bottom: calc(-22px + 2 * (100vw - 320px) / 880);
		left: 50%;
		transform: translateX(-50%);
	}
	.calculator-wrap::before, .calculator-wrap::after {
		display: none;
	}
	.qualities {
		flex-flow: row wrap !important;
	}

	.footer-wrap {
		flex-direction: column;
	}

	.footer-content {
		display: grid !important;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 540px) {
	:root {
		--padding-vert: calc(5px + 5 * (100vw - 320px) / 880);
	}
	.img-container .overlay-bot {
		background: linear-gradient(90deg, rgb(224 127 44 / 55%), rgb(186 57 28 / 71%));
		box-shadow: unset;
		bottom: 0 !important;
		right: 0 !important;
	}
	.footer-content {
		display: flex !important; 
	}
}
@media only screen and (max-width: 320px) {}

.responsive-nav {
	display: none;
	width: 100%;
	position: fixed;
	z-index: 5;
	padding: 4px 15px;
	transition: max-height 0.6s ease-in-out;
	background: linear-gradient(0deg, #00000038, #00000094);
	border-radius: 0 0 15px 15px;
	backdrop-filter: blur(1px);
}
.responsive-nav.show {
	background: linear-gradient(0deg, #000000c2, #00000094);
}

.rnav-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.rnav__logo {
	display: block;
	width: calc(120px + 24 * (100vw - 320px) / 880);
	height: auto;
}

.rnav__logo img {
	width: 100%;
}

.rnav-wrap .burger-btn {
	width: 2.5rem;
	height: 2.5rem;
	color: #f1f1f1;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.rnav .burger-menu {
	display: block;
	width: 100%;
	overflow: hidden;
	border-radius: 15px;
	max-height: 0;
	transition: max-height 0.3s ease-in-out;
	/*background: #cdcdcd14;*/
}

.responsive-nav.show .burger-menu {
	margin-top: 10px;
	max-height: 500px;
}

.rnav .burger-menu ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.rnav .burger-menu ul li {
}

.rnav .burger-menu ul li a {
	text-decoration: none;
	padding: 5px 15px;
	color: #dbdbdb;
	display: flex;
	align-items: center;
}
.rnav .burger-menu ul li a:hover {
	color: #E67B2C;
}

.rnav .burger-menu ul li a iconify-icon {
	margin-right: 10px;
}

.header {
	width: 100%;
	height: calc(300px + 300 * (100vw - 320px) / 880);
	background-size: 100% 100%;
	background-position: center;
	background-image: url('../img/header-background.jpg');
	position: relative;
}
.header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(51deg, #3a1c06, #170B02);
	opacity: .8;
	z-index: 1;
}

.header-wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}
.header__bar {
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.31rem var(--padding-vert) 0.9rem;
	background: linear-gradient(0deg, transparent, rgba(0,0,0,.5));
}
.header-bar__logo {
	width: 10rem;
	height: auto;
}
.header-bar__logo img {}

.header-bar__contacts {
	display: flex;
	column-gap: 1.5em;
}
.header-bar__contact {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	column-gap: 10px;
	position: relative;
	cursor: pointer;
}
.header-bar__contact:hover .c-details .__title {
	color: #ffab23;
}
.header-bar__contact:hover .icon {
	color: #ffab23;
}
.header-bar__contact:not(:last-child)::after {
	content: '';
	position: absolute;
	right: -0.6rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 85%;
	background-color: #8B8B8C;

}
.header-bar__contact .icon {
	color: #E67B2C;
	transition: .1s;
}
.header-bar__contact .icon iconify-icon {
	font-size: 1.25rem;
}
.header-bar__contact .c-details {
	display: flex;
	flex-direction: column;
}
.header-bar__contact .c-details .__title {
	font-size: calc(12px + 4 * (100vw - 320px) / 880);
	font-weight: 600;
	color: #E67B2C;
	transition: .1s;
}
.header-bar__contact .c-details .__description {
	font-size: 0.8rem;
	color: #8B8B8C;
}

.header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 var(--padding-vert);
	position: relative;
	z-index: 2;
}
.header-container .__title {
	max-width: calc(400px + 100 * (100vw - 320px) / 880);
	font-size: calc(20px + 26 * (100vw - 320px) / 880);
	font-weight: 600;
	text-align: center;
	color: #E8E8E8;
	text-shadow: rgb(0 0 0 / 23%) 0 1px 3px;
}



/*container (header continue)... */
.nav-quality-container {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	padding: 10px var(--padding-vert) 10px var(--padding-vert);
	background: linear-gradient(0deg, #1c4eaa, #446299);
}

/*navigation (on the web site) - container */
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, #12326e, #373590);
	height: 2.5rem;
	border-radius: 50px 0 0 50px;
}
.nav ul {
	display: flex;
	gap: 2.5em;
}
.nav ul li a {
	color: #d3d3d3;
	font-weight: 600;
	font-size: calc(12px + 6 * (100vw - 320px) / 880);
	transition: .1s;
}
.nav ul li a:hover {
	color: #d78b4f;
	text-shadow: rgba(0,0,0,.23) 0 2px 5px;
}

/*img below nav*/
.block-left-content {
	color: #cfcfcf;
	font-size: calc(16px + 4 * (100vw - 320px) / 880);
	line-height: 1.5;
	width: 100%;
	height: 100%;
	padding: 10px 12px;
}

/*slide*/
.img-container {
	background-color: #000;
	position: relative;
	width: 100%;
	max-height: 26.8rem;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	border-radius: 0 25px 25px 25px;
}

.img-container img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
	object-position: center;
	position: relative;
	border: none;
}

.img-container .overlay-top {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: -1px;
	padding: 0 1em;
	height: 2.5rem;
	color: #d1d1d1;
	font-size: calc(12px + 6 * (100vw - 320px) / 880);
	font-weight: 600;
	background: linear-gradient(90deg, #373590, #153371cc);
	border-radius: 0 0 10px 0;
	z-index: 1;
}
/* progress animation */
.anim {
	display: flex;
	background: linear-gradient(90deg, rgb(189 73 5 / 90%), rgb(255 191 0 / 90%));
	border-radius: 10px;
}
.anim-progress {
	background-color: #fff;
	width: calc(28px + 6 * (100vw - 320px) / 880);
	height: 0.2em;
	margin: 0.6em 0.4em;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
}
.anim-progress__fill {
	width: 0;
	height: 100%;
	background: linear-gradient(45deg, #446299, #1c4eaa);
}


.img-container .overlay-bot {
	display: flex;
	align-items: center;
	position: absolute;
	gap: 10px;
	bottom: 5px;
	right: 5px;
	z-index: 1;
	max-width: 450px;
	background: linear-gradient(90deg, rgb(224 127 44 / 80%), rgb(186 57 28));
	box-shadow: rgba(0,0,0,.6) 1px 2px 5px;
	padding: 0.6em 0.8em;
	color: #0e0e0e;
	border-radius: 25px 0 25px 0;
}

.img-container .overlay-bot .overlay-span span {
	font-weight: 600;
	font-size: calc(14px + 6 * (100vw - 320px) / 880);
	color: #cfcece;
}

/*QUESTIONS*/
.questions {
	background-color: #cfcfcf;
	padding: 0 var(--padding-vert) 15px var(--padding-vert);
	border-radius: 0 0 25px 25px;
}


.calculator {
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 15px;
}
.calculator-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1c4eaa;
	padding: 15px 30px;
	position: relative;
	border-radius: 0 0 25px 25px;
	gap: 10px;
}
.calculator-wrap::before {
	content: '';
	position: absolute;
	background-color: transparent;
	box-shadow: #1c4eaa 0 -25px 0 0;
	left: -50px;
	top: 0;
	height: 50px;
	width: 50px;
	border-top-right-radius: 25px;
}
.calculator-wrap::after {
	content: '';
	position: absolute;
	background-color: transparent;
	box-shadow: #1c4eaa 0 -25px 0 0;
	right: -50px;
	top: 0;
	height: 50px;
	width: 50px;
	border-top-left-radius: 25px;
}
.calc-description {
	font-size: calc(16px + 2 * (100vw - 320px) / 880);
	font-weight: 600;
	color: #ffab23;
	text-shadow: rgba(0,0,0,.23) 0 2px 5px;
}
.calc-link {
	background-color: #E67B2C;
	color: #170B02;
	border-radius: 6px;
	box-shadow: rgba(0,0,0,.23) 0 3px 5px;
	transition: .08s;
}
.calc-link:hover {
	background-color: #ffab23;
	color: #12326e;
}
.calc-link a {
	padding: 0.5rem 0.6rem;
	display: flex;
	align-items: center;
	line-height: 1.5;
	font-size: calc(16px + 2 * (100vw - 320px) / 880);
	font-weight: 600;
	gap: 5px;
	color: inherit;
}


/*sandwich-panels*/
.sandwich-panels {}
.sp-content {
	width: 100%;
	background-color: #efefef;
	border-radius: 25px;
	padding: 15px 25px;
	/*box-shadow: rgba(0,0,0,.33) 0 2px 5px;*/
}

.sp__title {
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Oswald', 'Jost';
	line-height: 1.5;
	font-size: calc(20px + 4 * (100vw - 320px) / 880);
	color: #181818;
	letter-spacing: 2px;
	/*text-shadow: rgba(0,0,0,.16) 0 2px 2px;*/
}
.sp__title span {
	font-family: inherit;
	font-size: inherit;
	color: #E36C14;
}
.sp__description {
	font-size: calc(16px + 4 * (100vw - 320px) / 880);
	color: #181818;
	font-family: 'Open Sans';
	margin-top: 10px;
	line-height: 1.4;
}
.sp__description span {
	font-size: inherit;
	color: #E36C14;
	font-weight: 600;
}

/* container: About*/
.about-us__container {
	height: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 35px;
	margin: 0 var(--padding-vert);
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
}

.about-us__slider {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}
.about-us__slider-content {
	display: flex;
	aspect-ratio: 16 / 9;
	border-radius: 15px;
	box-shadow: rgba(0,0,0,.4) 0 3px 3px;
	overflow: hidden;
}

.about-us__slider-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.about-us__slider-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-position: 100% 100%;
}

/*about us / details*/
.about-header {
}
.about-header span {
	background-color: #E67B2C;
	padding: 4px 15px;
	line-height: 1.5;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #170B02;
	text-shadow: rgba(0,0,0,.16) 0 2px 5px;
	position: relative;
	border-radius: 6px 6px 0 0;
}
.about-header span::after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 25%;
	bottom: -30px;
	margin: 6px auto;
	border-top: 12px solid #E67B2C;
	border-right: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid transparent;
}

.about-us__details {
	display: flex;
	flex-direction: column;
}
.about-us__details .__details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	background-color: #dfdfdf;
	padding: 10px 15px 15px;
	border-radius:  0 25px 25px 25px;
}

.about-block-header {
	font-size: calc(20px + 4 * (100vw - 320px) / 880);
	line-height: 1.5;
	font-weight: 600;
	color: #12326e;
}
.about-block .section {
	font-size: calc(16px + 4 * (100vw - 320px) / 880);
	line-height: 1.4;
	color: #2A2A2A;
}
.about-block .section .cit {
	color: #446299;
	font-weight: 600;
}


/*social-medias*/
.social-links {
	display: flex;
	justify-content: center;
	width: 100%;
}

.social-links__content {
	display: flex;
	gap: 10px;
	background: linear-gradient(45deg, #1C4EAA, #0c55db);
	padding: 6px;
	border-radius: 25px;
}
.social-links__content a iconify-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 35px;
	height: 35px;
	background-color: #E8E8E8;
	border-radius: 50%;
	font-size: 18px;
	transition: .2s;
}
.social-links__content a:hover iconify-icon {
	background-color: #170B02/*E8E8E8*/;
	color: #ffab23 !important;
}


/*company qualities*/
.qualities {
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: baseline;
	background: #E36C14;
	background: radial-gradient(circle, rgb(236.93, 129.44, 49.942) 0%, rgba(230,123,44,1) 100%);
	padding: 20px 4px 30px 4px;
	margin: 0 6px;
	gap: 10px;
	border-radius: 25px;
}

.qualities .quality {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: 250px;
	/*max-height: 160px;*/
	padding: 4px;
	/*background-color: #ea7935;*/
	color: #2A2A2A;
}

.qualities .quality .q-number {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(32px + 8 * (100vw - 320px) / 880);
	background: linear-gradient(45deg, #446299, #3d66b1);
	border-radius: 50%;
	width: 1.6em;
	height: 1.6em;
}
.qualities .quality .q-name {
	text-align: center;
	font-size: calc(16px + 4 * (100vw - 320px) / 880);
	padding: 4px 14px;
	background: linear-gradient(0deg, #f79d0a, #ffab23);
	font-family: 'Jost';
	position: relative;
	border-radius: 12px;
	color: #502d13;
	box-shadow: rgba(0,0,0,.13) 0 2px 5px;
}
.qualities .quality .q-name::after {
	content: '';
	position: absolute;
	left: 50%;
	top: -25px;
	transform: translate(-50%, 0);
	width: 5px;
	height: 5px; 
	margin: 5px auto;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #ffab23;
	border-left: 10px solid transparent;
	box-sizing: border-box;
}


/*company build projects styles*/
.projects {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 var(--padding-vert);
	margin: 15px 0;
	font-weight: 600;
	font-family: 'Open Sans', 'Jost';
	background-color: #dfdfdf;
	border-radius: 25px;
}

.projects .projects-header {
	display: flex;
	align-self: center;
	padding: 5px 8px;
	margin: 15px 0 10px;
	border-radius: 8px;
	font-weight: 600;
	line-height: 1.5;
	font-size: 28px;
	color: #1e335a;
	/*text-shadow: rgb(0 0 0 / 15%) 0 1px 3px;*/
}

.projects__section {
	background-color: #e8e8e8;
	position: relative;
	padding: 10px 14px;
	border-radius: 25px;
}

.projects__section-title {
	font-size: 20px;
	color: #2A2A2A;
	font-weight: 600;
}
.projects__button-scroll {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
	background-color: rgba(232, 232, 232, .6);
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	border: none;
	color: #181818;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: rgba(0,0,0,.23) 0 3px 6px;
}
.projects__button-scroll.disabled {
	display: none;
}
.projects__button-scroll.prev {
	left: 0;
	z-index: 1;
}
.projects__button-scroll.next {
	right: 0;
	z-index: 1;
}

.projects__section-container {
	margin: 4px 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	border-radius: 10px;
	gap: 20px;
	overflow: auto;
	padding: 6px 0;
	user-select: none;
	/*scroll-snap-type: x proximity;*/
}

/*scrolling params*/
.projects__section-container::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.projects__block {
	display: flex;
	flex: none;
	flex-direction: column;
	min-width: 165px;
	max-width: 165px;
	padding: 6px 8px;
	background-color: #dfdfdf;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	scroll-snap-align: center;
	transition: .1s ease-in;
}
.projects__block:hover .projects__block-img img {
	filter: brightness(35%);
}
.projects__block:hover {
	box-shadow: rgba(0,0,0,.43) 0 1px 4px;
}
.projects__block:hover .projects__block-img span {
	display: block;
}
.projects__block-img {
	max-width: 100%;
	max-height: 110px;
	transition: .1s ease-in;
	position: relative;
}
.projects__block-img span {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: #E8E8E8;
}
.projects__block-img img {
	width: 100%;
	height: 110px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.projects__block-thumbnails {
	display: none;
}

.projects__block-name {
	margin: 10px 0;
	font-family: 'Open Sans', Arial;
	font-size: 18px;
	color: #181109;
}

.projects__block-btn {
	background-color: #ffab23;
	font-size: 16px;
	padding: 4px 0;
	font-weight: 600;
	line-height: 1.5;
	border: none;
	color: #170B02;
	border-radius: 8px;
	cursor: pointer;
	margin-top: auto;
	transition: .2s;
}

.projects__block-btn:hover {
	background-color: #170B02;
	color: #ffab23;
}

/* PROJECTS MODAL WINDOW */
.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.6);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 50;
}
.modal.active {
	display: flex;
}
.modal-container {
	max-width: 600px;
	width: 100%;
	max-height: 100vh;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.modal-close {
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
}

.modal-content {
  padding: 20px;
  background-color: #E8E8E8;
}

.slider {}
.slider .slide img {
	max-width: 560px;
	width: 100%;
	height: auto;
	max-height: 450px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.thumbnails img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  outline: 2px solid #8B8B8C;
  outline-offset: 3px;
}



/*FOOTER*/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #181818;
	padding: 25px 6.25rem;
}

.footer-wrap {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}
.footer-map {
	max-width: calc(300px + 150 * (100vw - 320px) / 880);
	aspect-ratio: 16 / 9;
	width: 100%;
}

.footer-content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-section {}
.footer-powered {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	margin-top: 20px;
	padding: 0 10px;
	font-size: calc(12px + 4 * (100vw - 320px) / 880);
	color: #f1f1f1;
}
.footer-powered p {
	text-align: center;
}
.footer-powered p a {
	display: block;
	color: #ffab23;
	transition: color .2s;
}
.footer-powered p a:hover {
	color: #1C4EAA;
}

.fsection__title {
	font-family: 'Jost', Arial;
	text-transform: lowercase;
	font-variant: small-caps;
	font-weight: 600;
	font-size: calc(17px + 7 * (100vw - 320px) / 880);
	color: #8B8B8C;
}

.fsection__list {}
.fsection__list li {}

.fsection__social {
	display: flex;
	gap: 10px;
}

.fs_link a {
	color: #f1f1f1;
	font-family: 'Jost', Arial;
	font-size: calc(17px + 2 * (100vw - 320px) / 880);
	transition: .07s;
}
.fs_link a:hover {
	color: #d3654c;
}

.fs_social-link {}
.fs_social-link a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	background-color: #d3dceb;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
}

.fs_text {
	font-size: calc(16px + 2 * (100vw - 320px) / 880);
	color: #f1f1f1;
}
