
@media screen and (max-width: 1426px) {
    .content{
        padding: 0 20%;
        padding-top: 45px
    }
    .content2{
        padding: 0 20%;
        padding-top: 45px
    }
    .block-pred2{
        font-size: 10px;
        color: #a3a3a3;
        position: absolute;
        right: 20%;
        margin-top: 8px;
    }
    .block-pred {
        font-size: 10px;
        color: #a3a3a3;
        position: absolute;
        right: 20%;
        margin-top: 14px;
    }
    .top{
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    .landing__inner {
        width: 500px;
    }
    .headerline {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #232e39;
        font-size: 12px;
    }
    .header-text h1 {
        font-size: 22px;
        margin: 0;
        color: #000000;
    }
    .content{
        padding: 0 10%;
        padding-top: 40px
    }
    .content2{
        padding: 0 10%;
        padding-top: 30px
    }
    .block-pred2{
        font-size: 10px;
        color: #a3a3a3;
        position: absolute;
        right: 10%;
        margin-top: 8px;
    }
    .block-pred {
        font-size: 10px;
        color: #a3a3a3;
        position: absolute;
        right: 10%;
        margin-top: 14px;
    }
}
@media screen and (max-width: 522px) {
    .landing__inner {
        width: 350px;
    }
    .headerline {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #232e39;
        font-size: 12px;
    }
    .header-text h1 {
        font-size: 15px;
        margin: 0;
        color: #000000;
    }
    .header-text p {
        font-family: 'Open Sansbold';
        font-size: 12px;
        margin: 0;
        display: inline;
    }
    .logo {
        width: 95px;
        height: auto;
        
        margin-right: 20px;
    }
    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 10px;
        background-color: #ffac28;
    }
    .len {
        text-align: center;
        width: 33.3%;
        border-radius: 0;
        border: 1px solid #777782;
        font-family: 'Open Sansbold';
        font-size: 10px;
        height: 52px;
    }
    .probel {
        display: none;
        margin-right: 0;
    }
    .podskazka {
        font-size: 12px;
        color: #a3a3a3;
        margin-top: 35px;
    }
}