body{
    background-color: #efeeed;
    margin: 0;
    font-family: 'Open Sansbold';
}
@font-face {
    font-family: 'Open Sansbold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
.contmap{
    width: 100%; 
    height: 400px
}







.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #ffac28;
  }
.logo{
    width: 125px; /* задайте желаемую ширину */
    height: auto;
    margin-right: 20px;
}
.header-text h1 {
    
    font-size: 25px;
    margin: 0;
    color: #000000;
  }
  .header-text h2 {
    font-family: 'Open Sansbold';
    font-size: 14px;
    margin: 0;
    display: inline;
    margin-right: 7px;
    margin-left: 5px;
  }
  .header-text p {
    white-space: nowrap;
    font-family: 'Open Sansbold';
    font-size: 14px;
    margin: 0;
    display: inline;
  }
.header-text div{
    margin-top: 7px;
}
.link{
    color: white; 
    text-decoration: underline solid white;
    text-underline-offset: 5px;
}

.header__bottom-link-wrap + .header__bottom-link-wrap:before {
    content: '';
    display: block;
    height: 17px;
    width: 1px;
    background-color: #ffac28;
}
.header__bottom-link-wrap + .header__bottom-link-wrap {
    align-items: center;
    justify-content: space-between;
}
.header__bottom-link-wrap {
    display: flex;
    justify-content: center;
}
.headerline{
    position: sticky;
    top: 0;
    z-index: 100;
    
    background-color: #232e39;
    font-size: 14px;
}

.step1{
    color: #ffffff;
}
.step2{
    color: #ffac28;
}
.step3{
    color: #ffac28;
}
.header__bottom-inner {
    
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__bottom-link-wrap + .header__bottom-link-wrap:after {
    content: '';
    display: block;
}
.landing__inner {
    width: 750px;
}
.landing__inner {
    margin: auto;
    box-sizing: border-box;
}

.content{
    padding: 0 35%;
    padding-top: 45px;
}
.content12{
    display:grid;
    padding: 0 35%;
    padding-top: 45px;
}
.content22{
    display:grid;
    padding: 0 35%;
    padding-top: 45px;
}
.content2{
    padding: 0px 35%;
    padding-top: 35px;
}

.block-name{
    font-size: 14px;
    margin-bottom: 5px;
}
.select{
    display: flex;
    align-items: center;
    border: 1px solid #777782;
    font-size: 14px;
    width:100%;
    height: 52px;
    background-color: #ffffff;
}
.select-text{
    color: #a4a4a4;
    width: 100%;
    text-align: center;
}
.type{
    width: 40px; /* задайте желаемую ширину */
    height: auto;
}


.option{
    
    display: flex;
    align-items: center;
    
    width:100%;
    height: 40px;
    background-color: #ffffff;
}
.post{
    display: none;
}
.option-content{
    position: absolute;
    z-index:  10;
    width: 30%;
    border-right: 1px solid #777782;
    border-left: 1px solid #777782;
    border-bottom: 1px solid #777782;
}
.option:hover {
    background-color: #ffe4a0; /* Цвет фона */
    .select-text{color: #ffffff;}
}
.option-content1{
    display: none;
}
.option-content2{
    display: none;
}
.option-content4{
    display: none;
}
.option-content5{
    display: none;
}
.option-content6{
    display: none;
}
.option-content7{
    display: none;
}
.option-content8{
    display: none;
}
.cansel{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.top{
    margin-top: 27px;
}

.option-content3{
    display: none;
}
.lent{
    display:  flex;
}

.len16{
    width: 100%;
    text-align: center;
    border-radius: 0;
    border: 1px solid #777782;
    font-family: 'Open Sansbold';
    font-size: 14px;
    height: 52px;
}
.len2{
    text-align: center;
    width: 50%;
    border-radius: 0;
    border: 1px solid #777782;
    font-family: 'Open Sansbold';
    font-size: 14px;
    height: 52px;
}
.len4{
    text-align: center;
    width: 100%;
    border-radius: 0;
    border: 1px solid #777782;
    font-family: 'Open Sansbold';
    font-size: 14px;
    height: 52px;
}
::placeholder {
    color: #a4a4a4;
}

.button{
    margin-top: 40px;
    padding: 7px 15px;
    font-size: 20px;
    font-family: 'Open Sansbold';
    border: none;
    background-color: #ffac28;
    color:white;
}
.button2{
    background-color: white;
    border: 1px solid #777782;
    border-top: none;
    width: 100%;
    height: 20px;
}
.len0001{
    text-align: center;
    width: 33.3%;
    border-radius: 0;
    border: 1px solid #777782;
    font-family: 'Open Sansbold';
    font-size: 14px;
    height: 52px;
    border-right: none;
    border-top: none;
}
.len0002{
    text-align: center;
    width: 33.3%;
    border-radius: 0;
    border: 1px solid #777782;
    font-family: 'Open Sansbold';
    font-size: 14px;
    height: 52px;
    border-top: none;
}
.len0003{
    text-align: center;
    width: 50%;
    border-radius: 0;
    border: 1px solid #777782;
    font-family: 'Open Sansbold';
    font-size: 14px;
    height: 52px;
    border-right: none;
    border-top: none;
}
.len0004{
    text-align: center;
    width: 50%;
    border-radius: 0;
    border: 1px solid #777782;
    font-family: 'Open Sansbold';
    font-size: 14px;
    height: 52px;
    border-top: none;
}
.probel{
    display: none;
    margin-right: 150px;
}
.back{
    display: none;
}
.con2{
    display: none;
}
.con3{
    display: none;
}
.block-pred{
    font-size: 10px;
    color: #ff2929;
    position: absolute;
    right: 35%;
    margin-top: 11px;
}
.block-pred2{
    font-size: 10px;
    color: #ff2929;
    position: absolute;
    right: 35%;
    margin-top: 8px;
}
.block-pred4 {
    font-size: 10px;
    color: #a3a3a3;
    position: absolute;
    right: 35%;
    margin-top: 8px;
}
.top2{
    margin: 20px 0;
}
.bt{
    margin-bottom: 100px;
}
.bottom{
    bottom: 10px;
}
textarea{
    width: 100%;
    height: 150px; 
    padding: 10px 12px;
}
.plase{
    color: white;
    background-color: #232e39;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 25px;
}
.plased{
    margin-top: 12px;
}
.down2{
    margin-top: 12px;
    text-decoration: underline solid white;
    text-underline-offset: 5px;
}
.podskazka{
    font-size: 14px;
    color: #a3a3a3;
    margin-top: 35px;
}
.button4{
    background-color: white;
    border: 1px solid #777782;
    padding: 0 5px;
    height: 20px;
}
.con4{
    display: none;
}
.result{
    display: none;
}
.answer{
    text-align: center;
}
.coords{
    font-size: 10px;
    display: block;
    margin-top: 5px;
}

.placeholder {
    color: #a3a3a3;
    
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    transform: translateY(-7px);
  }
  .placeholder2 {
    color: #a3a3a3;
    
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    transform: translateY(-7px);
  }
.corton{
    width: 33.3%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.corton2{
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.placeholderdown{
    color: #a3a3a3;
    
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transform: translateY(9px);
}

input:focus ~ .placeholderdown,
input:not(:placeholder-shown) ~ .placeholderdown{
    transform: translateY(10px) translateX(19px) scale(0.65);
    color: white;
}

input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder{
    transform: translateY(18px) translateX(19px) scale(0.65);
}
input:focus ~ .placeholder2,
input:not(:placeholder-shown) ~ .placeholder2{
    transform: translateY(18px) translateX(32px) scale(0.65);
}

.cut {
    background-color: #ffffff;
    height: 20px;
    position: absolute;
    transform: translateY(36px) translateX(25px);
    transition: transform 200ms;
    width: 110px;
}

.con1{
    display: none;
}
.headerline{
    display: none;
}
.end{
    display: none;
}
.headerlinemenu{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color:#a3a3a3;
}
.type4{
    margin:0;
    width:155px
    
    
}
.type5{
    margin: 0 25px;
}
.into1{
    color: white;
    background-color:#fcbb15;
    width:400px;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 15px;
}
.into2{
    color: white;
    background-color: #232e39;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 15px;
}
.menu{

    margin-top: 50px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu2{
    color: white;
    background-color: #232e39;
    width:155px;
    margin: 0;
    padding-bottom: 9px;
    text-align: center;
    font-size: 15px;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
    }
    
.pred1f{
    display: none;
}
.pred2f{
    display: none;
}
.pred3f{
    display: none;
}
.pred4f{
    display: none;
}
.pred5f{
    display: none;
}
.pred6f{
    display: none;
}
.pred7f{
    display: none;
}
.pred8f{
    display: none;
}
.pred9f{
    display: none;
}

.shaking {
    animation: shake 0.5s;
}
.pred13f{
    display: none;
}
.pred14f{
    display: none;
}
.pred15f{
    display: none;
}
.pred16f{
    display: none;
}
.pred17f{
    display:none
}
.pred18f{
    display:none
}
.pred19f{
    display:none
}