@import url(https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@400;500;600;700&&family=Noto+Sans:wght@500;600;700&family=Oswald:wght@400;500&family=Outfit:wght@400;600&family=Poppins:wght@400;600&family=Roboto:wght@400;500;700&display=swap);

@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
		url('../fonts/GothamPro.woff2') format('woff2'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
/* 	font-family: 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif; */
	font-family: 'Jost', "Helvetica Neue", Helvetica, sans-serif;
	-webkit-tap-highlight-color: transparent;
}
:root{
	--padside: clamp(0.3125rem, -1.8304rem + 8.5714vw, 4.0625rem);/*clamp(0.3125rem, -0.239rem + 4.4118vw, 5rem);*/

	--pal-yellow: #f3ca20;
	--pal-yellow-2: #f3b220;
	--pal-black: #000000;
}
.s-col,
section {
	max-width: 1900px;
	margin: 0 auto;
}
body {
	overflow-x: hidden;
	background: #080808;
	color: white;
}
a {
	color: var(--pal-yellow);
}
a:hover {
	text-decoration: none;
}
img {
	pointer-events: none;
}
ul {
	list-style: none;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	overflow: hidden;
}


#header {
	position: sticky;
	top: 0;
	z-index: 300;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 40px;
	padding: 0 var(--padside);
	background-color: #000000db;
	border-bottom: 1px solid #1f1f1f;
	backdrop-filter: blur(2px);
}
#header .custom-logo-link img {
	max-height: clamp(3.75rem, 3.0701rem + 1.0989vw, 4.375rem);
	height: 100%;
	width: auto;
}
#header .links {
	flex: 1;
	display: flex;
	align-items: center;
}
#header .links-list {
	flex: 1;
}
#header .links-list li {
	display: inline-block;
}
#header .links-list li a {
	font-family: 'Gotham Pro';
	position: relative;
	display: block;
	text-decoration: none;
	color: white;
	padding: 4px 6px;
	transition: 0.1s ease-in;
}
#header .links-list li a::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -4px;
	height: 3px;
	width: 0;
	background-color: var(--pal-yellow-2);
	border-radius: 25px 25px 0 0;
	transition: 0.16s ease-in;
}
#header .links-list li a:hover::before {
	width: 100%;
}
#header .links-list li a:hover {
	color: var(--pal-yellow);
}

#header .right {
	display: flex;
	align-items: center;
	gap: 10px;
}
#header .right .phones {
	display: inline-block;
}
#header .right .phones a,
#header .links .phones a {
	text-decoration: none;
	display: block;
	padding: 3px 2px;
	font-size: clamp(0.75rem, 0.614rem + 0.2198vw, 0.875rem);
	font-weight: 600;
}
#header .links .phones {
	display: none;
}
#header .right .btn {
	padding: 8px 16px;
	border-radius: 15px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-decoration: none;
	background-color: #e8af5c;
	color: #191919;
	transition: 0.14s ease-in;
}
#header .right .btn:hover {
	background-color: #191919;
	color: #e7e7e7;
}
#header .burger-btn,
#header .burger-close {
	display: none;
	align-self: self-end;
	font-size: 24px;
	cursor: pointer;
}

#home {
	margin-bottom: 40px;
}
#home .swiper {
	height: 80vh;
	max-height: clamp(25rem, 18.75rem + 33.3333vw, 43.75rem);
	width: 100%;
}
.nt-header .swiper-button-next,
.nt-header .swiper-button-prev {
	color: #ffaf36;
	padding: 10px;
	border-radius: 10px;
	transition: 0.15s;
}
.nt-header .swiper-button-next:hover,
.nt-header .swiper-button-prev:hover {
	background-color: #0000006e;
}
.nt-header .swiper-pagination-bullet-active {
	background-color: #ffaf36;
}

#home .swiper .swiper-slide {
	position: relative;
}
#home .swiper .background {
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: brightness(45%);
	-webkit-filter: brightness(45%);
}

#home .content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 0 clamp(1.25rem, -0.4167rem + 8.8889vw, 6.25rem);
}
#home .content .title {
	font-size: clamp(1.375rem, 0.875rem + 2.6667vw, 2.875rem);
	font-weight: 700;
	color: #fff;
}
#home .content .excerpt {
	font-size: clamp(1.0625rem, 0.875rem + 1vw, 1.625rem);
	color: #f2f2f2;
	margin: 18px 0;
	max-width: 800px;
}
#home .content .actions {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	max-width: 800px;
}
#home .content .actions a {
	display: block;
	padding: 0.9rem 1.1rem;
	border-radius: 25px;
	background-color: #e8af5ce8;
	color: #2c2c2c;
	border: 2px solid transparent;
	text-decoration: none;
	font-size: clamp(0.9375rem, 0.8333rem + 0.5556vw, 1.25rem);
	font-weight: 600;
	transition: .14s ease-in;
}
#home .content .actions a:hover {
	background-color: #191919;
	color: #e7e7e7;
}


#home .swiper .swiper-slide .swiper-slide-progress {
	z-index: 71;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 5px;
}
#home .swiper .swiper-slide .swiper-progress-bar {
	height: 100%;
	background-color: #ffbe2d;
	width: 0;
}
#home .swiper .swiper-slide-active .swiper-progress-bar {
	animation: swiper-progress-animation 8s linear infinite; /* Пример анимации в течение 5 секунд */
}
@keyframes swiper-progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}



#about {
	padding: 25px var(--padside);
	display: flex;
	gap: 25px;
}

.about h2 {
	font-size: clamp(2.25rem, 1.9583rem + 1.5556vw, 3.125rem);
	text-transform: uppercase;
	font-family: 'Jost', "Helvetica Neue", Helvetica, sans-serif;
}
.about .left {
	flex: 1;
}
.about-descr {
	font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.5625rem);
	margin-bottom: 20px;
	font-weight: 500;
}
.about-descr.bold {
	margin-top: 10px;
	font-weight: 700;
}

.about .info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px 5px;
}

.about .info-item {
	display: flex;
	align-items: center;
	gap: 10px;
}
.about .info-item .icon {
	font-size: clamp(0.8125rem, 0.6875rem + 0.4vw, 0.9375rem);
}
.about .info-item div {
	width: max-content;
}
.about .info-item div > * {
	display: block;
}
.about .info-item div > b {
	font-size: clamp(1.3125rem, 1.1625rem + 0.6vw, 1.875rem);
	color: var(--pal-yellow);
}
.about .info-item div > span {
	line-height: 0.8;
	font-size: clamp(0.9375rem, 0.8875rem + 0.2vw, 1.125rem);
}

.about .swiper {
	border-radius: 15px;
	max-width: clamp(21.875rem, 12.0313rem + 26.25vw, 35rem);
	height: clamp(15.625rem, 13.2813rem + 6.25vw, 18.75rem);
}
.about .swiper-button-next,
.about .swiper-button-prev {
	color: #ffaf36;
	padding: 10px;
	border-radius: 10px;
	transition: 0.15s;
}
.about .swiper-button-next:hover,
.about .swiper-button-prev:hover {
	background-color: #0000006e;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: clamp(1.5625rem, 1.1667rem + 2.1111vw, 2.75rem) !important;
}

.about .swiper-pagination-bullet-active {
	background-color: #ffaf36;
}
.about .swiper img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.faq {
	padding: 15px var(--padside);
}
.faq > div {
	padding: 25px 0;
}


.faq .jobscheme h2 {
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, sans-serif;
	font-size: 34px;
	text-align: center;
	position: relative;
	margin-bottom: 22px;
}
.faq .jobscheme h2::after,
.faq .jobscheme h2::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -8px;
}
.faq .jobscheme h2::after {
	bottom: -11px;
	width: 10px;
	height: 10px;
	background-color: var(--pal-yellow);
}
.faq .jobscheme h2::before {
	width: 60px;
	height: 3px;
	background-color: #fff;
}
.faq .jobscheme ol {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.faq .jobscheme ol li {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.faq .jobscheme ol li .sch-icon {
	width: clamp(3.75rem, 3.125rem + 3.3333vw, 5.625rem);
	height: clamp(3.75rem, 3.125rem + 3.3333vw, 5.625rem);
	border-radius: 15px 4px 15px 4px;
	text-align: center;
	line-height: clamp(3.25rem, 2.625rem + 3.3333vw, 5.125rem);
	font-size: 32px;
	background-color: #ffa42c;
	color: #fff;
}
.faq .jobscheme ol li .sch-icon .icon {
	vertical-align: middle;
}

.faq .jobscheme ol li span {
	text-transform: uppercase;
	font-size: clamp(0.875rem, 0.7917rem + 0.4444vw, 1.125rem);
	line-height: 1.7;
}
.faq .jobscheme ol li:not(:last-child)::before {
	width: 2em;
	height: 2em;
	vertical-align: -0.125em;
	content: '';
	background-image: url('../img/arrow-right-short.svg');
	position: absolute;
	right: -1em;
	top: 50%;
	transform: translateY(-50%);
}


.faq .work h2 {
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, sans-serif;
	font-size: 34px;
	text-align: center;
	position: relative;
}
.faq .work .description {
	color: #b6b6b6;
	font-size: 16px;
	margin: 10px auto;
	max-width: 500px;
	text-align: center;
	margin-bottom: 35px;
}
.faq .work ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 35px 15px;
}
.faq .work ul li {
	display: flex;
	align-items: center;
	gap: 10px;
}
.faq .work ul li .n {
	background-color: var(--pal-yellow-2);
	min-width: 35px;
	min-height: 35px;
	max-height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 6px;
	color: #000;
	font-weight: 600;
	font-family: 'Jost';
	font-size: clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem);
}
.faq .work ul li span {
    width: max-content;
    max-width: 250px;
}

.faq .advantages h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Oswald';
	font-size: 34px;
	margin-bottom: 15px;
}
.faq .advantages h2 span {
	font-family: 'Oswald';
	color: var(--pal-yellow);
}
.faq .advantages ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.faq .advantages ul li {
  width: 30%;
  margin-bottom: 3%;
  background-color: #fcb822;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 12px;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq .advantages ul li:nth-child(4n),
.faq .advantages ul li:nth-child(5n) {
  width: 47%;

}
.faq .advantages ul li .icon {
	text-align: center;
	color: var(--pal-yellow);
	width: 40px;
	height: 40px;
	line-height: 45px;
	border-radius: 10px;
	text-align: center;
	background-color: #1c1810;
	color: #ffa42c;
	font-size: clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem);
}
.faq .advantages ul li .icon iconify-icon {
}
.faq .advantages ul li span {
	font-size: clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem);
}


.faq .grid-two-s ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
.faq .grid-two-s ul li {
	border-radius: 12px;
	background-color: #252525;
	color: #fff;
}
.faq .grid-two-s ul .item {
	padding: 10px;
}
.faq .grid-two-s ul .item .top {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: clamp(1.125rem, 1.0917rem + 0.1333vw, 1.25rem);
	margin-bottom: 10px;
}
.faq .grid-two-s ul .item .top .icon {
	width: 45px;
	height: 45px;
	line-height: 50px;
	text-align: center;
	border-radius: 10px;
	background-color: #ffaf36;
}
.faq .grid-two-s ul .item .top h3 {
	color: #ffaf36;
}
.faq .grid-two-s ul .item span {
	font-size: clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem);
	text-align: justify;
	line-height: 1.3;
}

.faq .grid-two-s ul .submit {
	display: grid;
	place-items: center;
	background-color: #0a0a0a;
}
.faq .grid-two-s ul .submit a {
	padding: 10px 18px;
    background-color: #ffaa2d;
    text-decoration: none;
    border-radius: 15px;
    color: #fff;
    font-size: 22px;
}
.faq .lightweight h2 {
	font-size: clamp(1.625rem, 1.2292rem + 2.1111vw, 2.8125rem);
	font-family: 'Oswald';
	text-transform: uppercase;
	letter-spacing: 2px;
}
.faq .lightweight h2 span {
	font-family: inherit;
	text-transform: inherit;
	color: var(--pal-yellow);
}
.faq .lightweight .wrap {
	margin-top: 25px;
	display: flex;
	gap: 14px;
}
.faq .lightweight .wrap .left {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.faq .lightweight .description {
	display: block;
	font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.5625rem);
	margin-bottom: 15px;
	line-height: 1.5;
}

.faq .lightweight .types {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
	gap: 8px;
	justify-items: center;
}
.faq .lightweight .types li {
	text-align: center;
	width: 140px;
	flex: 1 0 140px;
	font-size: clamp(0.875rem, 0.8021rem + 0.1667vw, 1rem);
}
.faq .lightweight .types li .preview {
	width: clamp(3.75rem, 3.25rem + 2vw, 5.625rem);
	height: clamp(3.75rem, 3.25rem + 2vw, 5.625rem);
	border-radius: 50%;
	object-fit: cover;
}
.faq .lightweight .types li span {
	display: block;
}

.faq .lightweight .wrap .banner {
	max-width: 500px;
	width: 100%;
	height: clamp(15rem, 12.7083rem + 12.2222vw, 21.875rem);
	border-radius: 15px;
	object-fit: cover;
}


#services {
	padding: 15px var(--padside);
}
.services h2 {
	font-size: clamp(2rem, 1.9333rem + 0.2667vw, 2.25rem);
	text-align: center;
	margin-bottom: 15px;
}
.services ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
}

.services ul li {
	background-color: var(--pal-yellow-2);
	border-radius: 6px;
	padding: 15px;
	color: #000;
}
.services ul li .icon {
	font-size: 30px;
	color: #f8fdff;
}
.services ul li h3 {
	font-size: 24px;
	margin: 5px 0 15px 0;
}
.services ul li span{
	color: #192024;
	font-size: clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem);
}


#products {
	padding: 15px var(--padside);
}
.products h2 {
	font-size: clamp(2rem, 1.9333rem + 0.2667vw, 2.25rem);
	text-align: center;
	margin-bottom: 15px;
}

#faq-2 .submit {
	position: relative;
	display: grid;
	align-items: center;
	margin: 25px 0;
}
#faq-2 .submit .banner {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(35%);
	-webkit-filter: brightness(35%);
}
#faq-2 .submit .content {
	position: relative;
	z-index: 1;
	padding: 25px;
}
#faq-2 .submit .content h2 {
	font-family: 'Oswald';
	font-size: clamp(2rem, 1.8333rem + 0.6667vw, 2.625rem);
	text-transform: uppercase;
	margin-bottom: 25px;
}
#faq-2 .submit .content h2 > span {
	font-family: 'Oswald';
	color: #ffaf36;
}
#faq-2 .submit .content p {
	line-height: 1.8;
	color: #dcdcdc;
}
#faq-2 .submit .content form {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}
#faq-2 .submit .content form > * {
	flex: 1 0 25%;
	background-color: #fff;
	border: unset;
	padding: 12px 16px;
	border-radius: 6px;
	outline: unset;
}
#faq-2 .submit .content form input {
	flex: 1 0 130px;
}
#faq-2 .submit .content form input:hover::placeholder {
	text-decoration: underline;
}
#faq-2 .submit .content form button {
	flex: 1 0 40px;
	cursor: pointer;
	color: #242424;
	background-color: #ffaf36;
	transition: .14s;
	font-weight: 600;
	font-size: clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem);
}
#faq-2 .submit .content form button:hover,
#faq-2 .submit .content form button:focus {
	background-color: #ffa42c;
}


.calculator-overlay {
	position: fixed;
	z-index: 200;
	bottom: 0;
	left: var(--padside);
	background-color: #e19a33;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 20px;
	max-width: 250px;
	border-radius: 12px 12px 0 0;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: .2s;
}
.calculator-overlay:hover {
	padding-bottom: 40px;
}
.calculator-overlay .icon {
	min-width: 50px;
	min-height: 50px;
	border-radius: 12px;
	background-color: #fff;
	display: grid;
	place-items: center;
}
.calculator-overlay .icon img {
	width: auto;
	height: 40px;
}



#projects {
	padding: 20px var(--padside);
}

.projects h2 {
	font-size: clamp(2rem, 1.9333rem + 0.2667vw, 2.25rem);
	text-align: center;
}

.projects--category {
	padding: 15px 0;
}
.projects--category h3 {
	font-size: clamp(1.375rem, 1.3083rem + 0.2667vw, 1.625rem);
	line-height: 1.7;
}
.projects--category .swiper-slide {
	font-size: clamp(1rem, 0.9667rem + 0.1333vw, 1.125rem);
	background: #242424;
	border-radius: 15px 15px 6px 6px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.projects--category .swiper-slide .preview {
	display: block;
	object-fit: cover;
	margin: 10px 10px 0 10px;
	border-radius: 15px 15px 0 0;
	height: clamp(11.875rem, 10.0417rem + 7.3333vw, 18.75rem);
	box-sizing: border-box;
}
.projects--category .swiper-slide .details {
	border-top: 3px solid #101010;
	background-color: #191919;
	padding: 10px 15px 15px 15px;
}
.projects--category .swiper-slide .details .name {
	font-size: clamp(1.375rem, 1.3083rem + 0.2667vw, 1.625rem);
	font-weight: 600;
	line-height: 1.5;
}
.projects--category .swiper-slide .details .excerpt {
	color: #f3f4f5;
	text-align: justify;
}
.projects--category .swiper-slide .details .more {
	display: block;
	max-width: max-content;
	font-size: clamp(1.125rem, 1.0917rem + 0.1333vw, 1.25rem);
	font-weight: 700;
	margin: 12px 0 15px auto;
	padding: 10px 22px;
	border-radius: 15px 6px 6px 6px;
	background-color: #ffaf36;
	text-decoration: none;
	color: #242424;
	transition: .14s;
}
.projects--category .swiper-slide .details .more:hover {
	border-radius: 6px;
	background-color: #ffa42c;
}
.projects--category .swiper-button-next,
.projects--category .swiper-button-prev {
	color: #ffaf36;
	padding: 10px;
	border-radius: 10px;
	transition: 0.15s;
}
.projects--category .swiper-button-next:hover,
.projects--category .swiper-button-prev:hover {
	background-color: #0000006e;
}
.projects--category .swiper-pagination-bullet-active {
	background-color: #ffaf36;
}



.contacts{
	padding: 10px var(--padside);
}
.contacts-wrap{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #282828;
	border-radius: 15px;
	gap: 10px;
	min-height: 400px;
	overflow: hidden;
}

.contacts-content{
	padding: 10px;
}
.contacts-content .title{
	text-align: center;
	color: #ebe5e1;
	font-size: clamp(1.375rem, 1.2591rem + 0.4878vw, 1.625rem);
}
.contacts-item .item-title{
	color: #979797;
	text-transform: lowercase;
	font-size: 19px;
	font-family: 'Jost';
	font-weight: 600;
	margin-top: 14px;
}
.contacts-item ul li{
	margin: 4px 0;
}
.contacts-item ul li span{
	color: #f6f6f6;
}
.contacts-item ul li a{
	color: #ee9211;
	font-weight: 600;
	text-decoration: underline;
}
.contacts-item ul li a:hover{text-decoration: none;}

.footer{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color: #000000;
}
.footer-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 15px;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 0 var(--padside);
	box-sizing: border-box;
}
.footer-map{
	display:flex;
	flex-direction:column;
}
.footer-map .section-geolocation{
	margin-bottom:10px;
	max-width:calc(300px + 150*(100vw - 320px)/880);
}
.footer-map iframe{
	max-width:calc(300px + 150*(100vw - 320px)/880);
	aspect-ratio:16/9;
	width:500px;
}
.footer-content{
	display:flex;
	gap:18px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.footer-powered{
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:10px;
	margin-top:20px;
	padding:0 10px;
	font-size:clamp(.75rem,.6534rem + .4545vw,.9375rem);
	color:#f1f1f1;
}
.footer-powered p{
	text-align:center;
}
.footer-powered p a{
	display:block;
	color:#e67b2c;
	transition:color .2s;
	text-decoration: none;
}
.footer-powered p a:hover{
	color:#ffab23;
}
.fsection__title{
	font-family:'Outfit', Arial;
	text-transform:lowercase;
	font-variant:small-caps;
	font-weight:600;
	font-size:clamp(1.25rem,1.1856rem + .303vw,1.375rem);
	color:#8b8b8c;
}
.fsection__social{
	display:flex;
	gap:10px;
}
.fs_link a:hover{
	color:#d3654c;
}
.fs_social-link a{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:clamp(1.125rem,1.0606rem + .303vw,1.25rem);
	background-color:#d3dceb;
	border-radius:50%;
	width:1.6em;
	height:1.6em;
}
.fs_text,.fs_link a{
	text-decoration: none;
	font-size:clamp(.09725rem,.8981rem + .243vw,1.0875rem);
	color:#f1f1f1;
	font-family:'Gotham Pro', Arial;
	line-height:1.3;
	transition:.07s;
}
.bottom-buttons{
	position:fixed;
	bottom:0;
	right:0;
	z-index:9;
}
.bottom-buttons__btn{
	display:flex;
	margin:15px;
	height:1.8em;
	width:1.8em;
	font-size:1.9em;
	background-color:#fff;
	box-shadow:rgb(0 0 0/23%) 0 1px 4px;
	border:unset;
	border-radius:50%;
	outline:none;
	cursor:pointer;
	justify-content:center;
	align-items:center;
}
.feedback{
	opacity:0;
	visibility:hidden;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,.6);
	z-index:10;
	transition:opacity .3s ease-in-out,visibility .3s ease-in-out;
	overflow-y: auto;
}
.feedback.open{
	opacity:1;
	visibility:visible;
}
.feedback .feedback-modal{
	display:flex;
	justify-content:center;
	position:absolute;
	bottom:50%;
	left:50%;
	transform:translate(-50%,50%);
	background-color:#101010;
	max-width:650px;
	width:100%;
	border-radius: 10px;
}
// .feedback-form-btn{
// 	width:240px;
// 	height:60px;
// 	text-transform:uppercase;
// 	text-align:center;
// 	z-index:9;
// 	position:fixed;
// 	top:39%;
// 	font-size:100%;
// 	right:-90px;
// 	line-height:60px;
// 	border:0;
// 	padding:0;
// 	--webkit-transform:rotate(270deg);
// 	transform:rotate(270deg);
// 	background-color:#39bf34cf;
// 	color:#282828;
// 	border-radius:3px 3px 0 0;
// 	cursor:pointer;
// }
// .feedback-form-btn:hover{
// 	background-color:#0fb509cf;
// }
.feedback-item{
	padding:14px 24px;
}
.feedback-item .__header{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}
.feedback-item .__header .__title{
	color:#ffaf36;
	font-size:clamp(1.75rem,1.2903rem + 1.9355vw,2.5rem);
	font-weight:600;
	margin-bottom:4px;
}
.feedback-item .__header .__description{
	font-size:clamp(.675rem,.7218rem + .6452vw,1.125rem);
	color: #c5c5c5;
}
.feedback-item form{
	margin:20px 0;
}
.feedback-item form p{
	position: relative;
}
.feedback-item form p .wpcf7-spinner{
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
}
.wpcf7 form .wpcf7-response-output{
	margin: 0;
}
.feedback-item .__social li{
	display:inline-block;
}
.feedback-item .__social li a{
	color:#181818;
	padding:6px;
}
.feedback-item .__social li a:hover{
	color:#2a2a2a;
}
.feedback__text-input{
	border:none;
	width:100%;
	padding:10px;
	background-color:#cad2e2;
	border-radius:6px;
	outline:none;
	margin-bottom:10px;
}
.feedback__text-input::placeholder,.feedback__message::placeholder{
	color:#2c2c2c;
	font-size:clamp(.675rem,.7218rem + .6452vw,1.125rem);
}
.feedback__message{
	width:100%;
	height:100px;
	padding:10px;
	border-radius:6px;
	border:none;
	color:#181818;
	background-color:#cad2e2;
	box-sizing:border-box;
	outline:none;
	resize:none;
	margin-bottom:14px;
}
.feedback__message:focus,.feedback__text-input:focus{
	background-color:#e8e8e8;
}
.feedback__message::-webkit-scrollbar{
	width:4px;
}
.feedback__message::-webkit-scrollbar-thumb{
	background:#ffaf36;
}
.feedback__message::-webkit-scrollbar-track{
	background-color:#fff;
}
.feedback__form-button{
	background-color:#181818;
	color:#e8e8e8;
	font-size:16px;
	padding:10px 14px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	transition:.2s;
	text-align:center;
	display:block;
	box-sizing: border-box;
	width:100%;
}
.feedback__submit{
	background-color:#183558;
	color:#e8e8e8;
	font-size:16px;
	padding:10px 14px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	transition:.2s;
	width:100%;
}
.feedback__submit:hover{
	background-color:#12326e;
}

@media screen and (max-width: 1100px) {
	#header {
		column-gap: 10px;
	}
	.services ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 980px) {
	#header .links {
		justify-content: flex-end;
		flex-direction: column;
		position: fixed;
		padding: 0 var(--padside);
		background-color: #000000db;
		border: 1px solid #1f1f1f;
		border-radius: 12px;
		display: none;
		right: 50%;
		transform: translateX(50%);
		padding: 30px 25px;
		top: 110%;
		width: 300px;
		max-width: 100%;
		box-sizing: border-box;
	}
	#header .links.show {
		display: flex;
	}
	#header .links-list li {
		display: block;
		margin: 6px 0;
	}
	#header .links .phones {
		display: block;
	}

	#header .burger-btn {
		display: block;
		align-self: center;
		margin-left: 10px;
	}
}
@media screen and (min-width: 979px) {
	.mob-show {
		display: none !important;
		opacity: 0;
		visibility: hidden;
	}
	.footer{
		padding:25px 0;
	}
}
@media screen and (max-width: 850px) {
	#about {
		flex-direction: column;
	}
	.about .swiper {
		max-width: 100%;
		height: clamp(15.625rem, 10.3125rem + 28.3333vw, 26.25rem);
	}
	.lightweight .wrap {
		flex-direction: column-reverse;
		align-items: center;
	}
	.faq .jobscheme ol {
		grid-template-columns: repeat(2, 1fr);
		gap: 60px 0;
	}
	.faq .jobscheme ol li:nth-child(2n)::before {
		top: unset;
		left: 50%;
		bottom: -3.5em;
		transform: translate(-50%, -50%) rotate(90deg);
	}
	.faq .jobscheme ol li:nth-child(3) {
		grid-column: 2;
	}
	.faq .jobscheme ol li:nth-child(3)::before {
		right: unset;
		left: -1.25em;
		transform: translateY(-50%) rotate(180deg);
	}
	.faq .jobscheme ol li:last-child {
		grid-column: 1;
		grid-row: 2;
	}

	.faq .work ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 780px) {
	.footer-wrap{
		flex-direction:column;
	}
	button.feedback-form-btn{
		width:180px;
		height:40px;
		right:-75px;
		font-size:14px;
		line-height:40px;
	}
	.request {
		flex-direction: column-reverse;
	}
	.request-details {
		max-width: unset;
		padding: 0 6px;
	}
	.contacts-wrap{
		grid-template-columns: 1fr !important;
	}
	.contacts-content{
		display: grid;
		justify-content: center;
	}
	.contacts-wrap div:first-child{
		height: 225px;
	}
}
@media screen and (max-width: 540px) {
	.faq .work ul {
		display: flex;
		gap: 25px;
		overflow: hidden;
		overflow-x: auto;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.faq .advantages ul li,
	.faq .advantages ul li:nth-child(4n),
	.faq .advantages ul li:nth-child(5n) {
		width: 100%;
	}
	.faq .grid-two-s ul {
		grid-template-columns: 1fr;
	}
	#faq-2 .submit .content {
		padding: 10px;
	}
	.calculator-overlay {
		padding: 10px;
		font-size: 14px;
	}
	.calculator-overlay .icon {
		min-width: 35px;
		min-height: 35px;
	}
	.calculator-overlay .icon img {
		height: 30px;
	}
	.services ul {
		display: flex;
		overflow: hidden;
		overflow-x: auto;
	}
	.services ul li {
		min-width: clamp(16.25rem, 15.4167rem + 4.4444vw, 18.75rem);
	}
	#header .right .phones {
		display: none;
	}

	.nt-header .swiper-button-next,
	.nt-header .swiper-button-prev {
		bottom: 10px;
		top: unset !important;
	}
}

@media only screen and (max-width:410px){
	.footer-content .footer-section{
		width: 270px;
	}
	.about .info {
		overflow: hidden;
		overflow-x: auto;
		display: flex;
		gap: 15px;
	}
	.about .info-item .icon {
		display: none;
	}
	#faq-2 .submit .content p {
		font-size: 12px;
	}
}
